body {
font-family: Arial;
margin: 40px;
}

table.pred-list {
border-collapse: collapse;
}

.pred-list  td,th {
border: 1px solid #ccc;
padding: 8px;
}

pre.field-box {
    background: #f5f5f5;
    padding: 10px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Collapsible container */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 8px 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
}

.collapsible:hover {
    background-color: #ddd;
}

.content {
    display: none;
    overflow: hidden;
}

#explanation {
    font-size: 14px;
}

/* Standard approach */
.big {
  font-size: 20px; /* Changes the visible selected value and inherited option size */
}

/* Annotated rows: green */
tr.annotated {
    background-color: #A0BFF0; /* soft green */
}

tr.annotated td {
    color: black; /* dark green text */
}

/* Optional hover effect */
tr.annotated:hover {
    background-color: #6488EA;
}

tr.pending:hover {
    background-color: #f0f0f0; /* light gray */
}

.pred-list thead {
  position: sticky;
  top: -1px;  /* 0px if you don't have a navbar, but something is required */
  background: white; /* If you don't set a background color, you'll be able to see through the header as you scroll */
}

.pred-list td:nth-child(3) {
  text-align: center;
}
.pred-list td:nth-child(4) {
  text-align: center;
}
.pred-list td:nth-child(6) {
  text-align: center;
}

/* Toggle switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  margin-right: 4px;
  margin-left: 8px;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider background */
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  height: 18px;
}

/* Slider circle */
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

/* Active state */
input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(21px);
}

#toggleLabel {
     font-weight: normal;
}

code[class*=language-], pre[class*=language-] {
    font-size: 0.85rem !important;
}

.badge-label {
padding: 0.15em 0.6em;
border-radius: 1rem;
}

.label-shade-correct {
    background-color: #11734b;
    color: white;
}
.label-shade-unsure {
    background-color: #ffe5a0;
    color: black;
}
.label-shade-incorrect {
    background-color: #b10202;
    color: white;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
#explanation {
    background-color: #dfffff;
}
.filter-panel {
margin-bottom: 24px;
}
.filter-item {
margin-bottom: 12px;
}