body {
font-family: Arial;
margin: 40px;
}

table.pred-list {
border-collapse: collapse;
}

.pred-list  td,th {
border: 1px solid #ccc;
padding: 8px;
}

pre.field-box {
    background: #f5f5f5;
    padding: 10px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Collapsible container */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 8px 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
}

.collapsible:hover {
    background-color: #ddd;
}

.content {
    display: none;
    overflow: hidden;
}

#explanation {
    font-size: 14px;
}

/* Standard approach */
select {
  font-size: 20px; /* Changes the visible selected value and inherited option size */
}

option {
  font-size: 20px; /* May be ignored by some browsers like Chrome/Safari */
}

/* Annotated rows: green */
tr.annotated {
    background-color: #d4edda; /* soft green */
}

tr.annotated td {
    color: #155724; /* dark green text */
}

/* Optional hover effect */
tr.annotated:hover {
    background-color: #c3e6cb;
}

tr.pending:hover {
    background-color: #f0f0f0; /* light gray */
}

.pred-list thead {
  position: sticky;
  top: -1px;  /* 0px if you don't have a navbar, but something is required */
  background: white; /* If you don't set a background color, you'll be able to see through the header as you scroll */
}

/* Toggle switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  margin-right: 4px;
  margin-left: 8px;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider background */
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  height: 18px;
}

/* Slider circle */
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

/* Active state */
input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

#toggleLabel {
     font-weight: normal;
}